<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>About Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/ak.png" class="portrait" alt="Akshit Zatakia">
    </div>


    {{>footer}}
</body>

</html>